*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: Manrope;
    color: #333333;
}

/*==============================*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/*==============================*/
.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.375;
}

.title_center {
    text-align: center;
}

@media (max-width: 767.98px) {
    .title {
        font-size: 30px;
    }
}

/*==============================*/
.page {
    flex: 1 1 auto;
}

/*==============================*/
[class*="__container"] {
    max-width: 1170px;
    margin: 0 auto;
}

@media (max-width: 1198.98px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

@media (max-width: 990.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
        padding: 0px 15px;
    }
}

/*==============================*/
.header {
    top: 0;
    left: 0;
    width: 100%;
}

.header__container {
    min-height: 103px;
    padding-top: 10px;
    display: flex;
    column-gap: 10px;
    row-gap: 15px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

@media (max-width: 767.98px) {
    .header__container {
        min-height: 0;
        flex-direction: column;
    }
}

.header__logo {
    font-weight: 800;
    font-size: 23px;
    color: inherit;
}

.header__menu {}

/*==============================*/
.menu {}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 46px;
    row-gap: 5px;
}

.menu__item {}

.menu__link {
    font-size: 13px;
    font-weight: 700;
    color: inherit;
}

.menu__link:hover {
    text-decoration: underline;
}

@media (max-width: 767.98px) {
    .menu__list {
        justify-content: center;
    }

    .menu__link {
        font-size: 18px;
    }
}

/*==============================*/
.main-block {
    padding-bottom: 110px;
}

.main-block__container {
    padding-top: 100px;
    position: relative;
}

.main-block__body {
    margin-bottom: 14px;
}

.body-main-block {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.body-main-block__content {
    flex: 0 1 50%;
}

.content-main-block {
    padding-top: 40px;
    position: relative;
    z-index: 2;
}

.content-main-block__body {
    padding-right: 80px;
}

.content-main-block__sub-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #FF9900;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.content-main-block__title {
    font-weight: 800;
    font-size: 54px;
    line-height: 73px;
    margin-bottom: 20px;
}

.content-main-block__text {
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.01em;
    margin-bottom: 45px;

}

.body-main-block__image {
    flex: 0 1 50%;
}

.body-main-block__image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 1199.98px) {
    .main-block__container {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .body-main-block {
        display: block;
    }

    .main-block__body {
        margin-bottom: 40px;
    }

    .main-block {
        padding-bottom: 30px;
    }

    .body-main-block__image {}
}

@media (max-width: 767.98px) {
    .content-main-block__title {
        font-weight: 800;
        font-size: 42px;
        line-height: 63px;
        margin-bottom: 20px;
    }
}

/*==============================*/
.how {
    padding-top: 110px;
    padding-bottom: 110px;
}

.how__container {}

.how__title {
    margin-bottom: 70px;
}

.how__items {
    display: grid;
    padding: 0px 35px;
    grid-template-columns: repeat(3, minmax(auto, 260px));
    column-gap: 30px;
    row-gap: 45px;
    justify-content: space-between;
}

.item-how {
    text-align: center;
    display: grid;
    justify-items: center;
}

.item-how__icon {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    width: 100px;
    height: 100px;
}

.item-how__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
}

.item-how__text {
    font-size: 16px;
    line-height: 26px;
    max-width: 260px;
}

@media (max-width: 1199.98px) {
    .how {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 767.98px) {
    .how {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .how__items {
        grid-template-columns: 1fr;
    }

    .item-how__icon {
        margin-bottom: 20px;
    }

    .how__title {
        margin-bottom: 30px;
    }


}

/*==============================*/
.portfolio {
    padding-top: 110px;
}

.portfolio__container {}

.portfolio__header {
    margin-bottom: 50px;
}

.portfolio__tabs {}

.header-portfolio {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-portfolio__content {
    flex: 1 1 auto;
}

.header-portfolio__title {}

.header-portfolio__text {
    max-width: 470px;
    line-height: 24px;
}

.header-portfolio__link {
    background-color: #F85A47;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    color: #fff;
    line-height: 23px;
    padding: 22px 33px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    border-radius: 5px;
}

.header-portfolio__link:hover {
    background-color: #b9473a;
}

.tabs-portfolio {}

.tabs-portfolio__nav {
    display: flex;
    column-gap: 50px;
    row-gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.tabs-portfolio__butoon {
    font-size: 19px;
    line-height: 26px;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease 0s;
    background-color: transparent;
}

.tabs-portfolio__butoon::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: width 0.3s ease 0s;
    background-color: #F85A47;
}

.tabs-portfolio__butoon:hover {
    color: #F85A47;
}

.tabs-portfolio__butoon:hover::after {
    width: 100%;
}

.tabs-portfolio__butoon.active {
    color: #F85A47;
}

.tabs-portfolio__butoon.active::after {
    width: 100%;
}

.tabs-portfolio__body {}

.tabs-portfolio__item {}

.item-tabs {}

.item-tabs__items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.item-tabs__item {}

.item-tabs__img {
    position: relative;
    display: block;
    padding-bottom: 81%;
}

.item-tabs__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}